<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Corsica.Service.RefereeService" behaviorConfiguration="MEXGET">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/CorsicaWars"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:8002/CorsicaWars"
                  binding="netTcpBinding"
                  bindingConfiguration="TCPSession"
                  contract="Corsica.Service.IRefereeContract"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="TCPSession">
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MEXGET" >
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>